* {
  font-family: "Roboto",sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body,html {
  overflow-x: hidden;
  scroll-behavior: smooth
}

p {
  padding: 15px 0;
  line-height: 1.3em;
  text-align: left;
  color: #343434
}




img {
  max-width: 100%
}
/*! header start  */

header {
  border-bottom: 1px solid #dee0ea;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 10;
}



.header-row {
  height: 90px;
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-mobile {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.header-center{
  display: flex;
  justify-content: end;

}

.header-center .bi-x-circle {
  display: none;
}

.header-center .navigation .menu-list {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.header-center .menu-list .menu-list-item {
  display: flex;
  align-items: center;
  position: relative;
  height: 90px;
}

.header-center .menu-list .menu-link {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: .01em;
  line-height: 1.2em;
  text-align: left;
  color: rgba(0,0,0,.87);
}










/*! header end  */

/* header responsive */
@media (max-width: 991px) {
  .header-center {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #dee0ea;
    z-index: 2;
    transition: 0.5s ease all;
  }

  .header-center .bi-x-circle {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
  }

  .header-center .menu-list {
    flex-direction: column;
    padding: 50px 75px;
  }

  .header-mobile {
    display: inline-block;
  }

  header .menu-dropdown-wrapper {
    display: none !important;
  }

  header .menu-list i {
    display: none;
  }
  header .menu-list-item a {
    font-size: 16px !important;
  }
}

/********************* slider-section****/

.slider-section {
  background-image: url('/img/slider.png');
  height: 1080px;
   z-index: index -1;
   
}





  /********************* map-section****/

.map-section {
    margin-top: 100px;
    height: 16rem;

}




.btn-information{
  background: #002C90!important;
}

.map-section a {
  font-size: 16px;
  font-weight: 600;
  
}

/* section main start**************************/
.section-main {
  background: #4061ac;
  padding: 50px 0;

}

.section-main h3 {
  font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    color: #fff;
}

.section-main  .container-fluid {
  margin: 0  !important ;
}
.section-main h4 {
  margin: 0;
    padding-top: 17px;
    font-size: 24px;
    line-height: 1.2em;
    text-align: left;
}

.section-main p {
  padding-top: 7px!important;
}

/**********left-image-section************************/

.left-image-section {
  max-width: 1320px;
  height: 50rem!important;
}

.left-image-section .left-image {
  object-fit: cover;
  width: 862px;
  /* margin-right: 100px; */
}

.left-image-section .right-content h3 {
  font-weight: 700;
    line-height: 1.2em;
    text-align: left;
    font-size: 34px;
    color: #002c90;
}
.left-image-section .right-content p {
  padding: 15px 0;
  line-height: 1.3em;
  text-align: left;
  color: #343434;
}

/******************* work section start****************************/
.work-section{
  z-index: 10;
}

.work-section{
  background-image: url('/img/bg.png');
  z-index: 99;
  margin-top: -20rem;
}

.work-section h3 {
  font-size: 34px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin-bottom: 70px;
}
  .main-two-content{
    border-radius: 20px;
    position: relative;
    color: #fff;
  }

  .main-two-content::before {
    content: '';
    position: absolute;
    left: 0;
    top: 20;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,23,75,0) 0,#001649 100%);
    border-radius: 20px;
  }
  .main-two-content .box-content {
    width: 100%;
    position: absolute;
    padding: 0 60px;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-two-content .box-content p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
  }
  .main-two-content .box-content .box-button {
    font-size: 20px;
    font-weight: 700;
     display: flex;
    width: 276px;
    height: 54px;
    align-items: center;
    justify-content: center;
    color: #002c90;;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto;
  }
/****************period-section***********************/
.period-section {
  background-image: url('https://www.technova.com.tr/wp-content/uploads/2023/05/download-3.png');
  padding: 50px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
}
.period-section h2{
  font-size: 34px;
  color: #002c90;
  text-align: center;
    font-weight: 500;
    padding-bottom: 50px;
}
.period-section .period-box {
  border-radius: 17px;
    background: #f8f8f8;
    border: 1px solid #002c90;
    box-shadow: 0 20px 40px rgba(124,124,124,.16);
    padding: 31px 20px;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 60px;
    height: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.period-section .period-box span {
  
  font-size: 34px;
    width: 64px;
    height: 64px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    background: #002c90;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 100pz;
}

/**comment-section*******************/

.comment-section {
  background: #0d255c;
}
.comment-section .content-div {
  width: 415.5px;
   margin-right: 25px;
   border-radius:10px;
   align-items: start;
   display: flex;
   flex-direction: column;
   height: 494px;
   justify-content: center;
}

.comment-section h3 {
  font-weight: 500;
  font-size: 34px;
  line-height: 44px;
  text-align: left;
  color: #fff;
}



/******************************partner-section*/

.partner-section  {
  background-color:#F8F8F8;
  padding: 5rem 0;
}
.partner-section .row {
 
  display: flex;
  flex-wrap: wrap;
 
}
.partner-section h4 {
color: #002C90;
font-weight: 700;
font-size: 24px;
}
.icon-div {
  background-color: #fff;
  height: 120px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(217, 215, 215, 0.459);
  border-radius: 10px;
  

}

.partner-section .partner-img {
  background-color: #fff;
  height: 120px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(217, 215, 215, 0.459);
  border-radius: 10px;
 
}
  

/**************FOOTER***************/
.footer{
  display: block;
    width: 100%;
    background: #4061AC;
    padding-top: 53px;
    padding-bottom: 25px;
    margin-top: 50px;
}




























/***********MEDİA QUERYY**********/
@media (min-width: 576px) {
  .container {
      max-width:540px
  }
}





@media (min-width: 768px) {
  .container {
      max-width:720px!important;
  }
}

@media (min-width: 992px) {
  .container {
      max-width:960px!important
  }
}

@media (min-width: 1200px) {
  .container {
      max-width:1140px!important;
  }
}

@media (min-width: 1400px) {
  .container {
      max-width:1320px!important;
  }
}